{% extends "layout.html" %}
{% load static %}

{% block title %}My invitations{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="package-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head">
                    <h2>My invitations</h2>
                    <br>
                    <div class="container">
                        {% if not invitation_form %}
                            <p>There is no matching for consultants, please finish the enquiry form.</p>
                        {% else %}
                        <div class="row">
                            <div class="col align-self-center">
                                Event
                            </div>
                            <div class="col align-self-center">
                                Status (Consultant)
                            </div>
                            <div class="col align-self-center">
                                Bid Price
                            </div>
                            <div class="col align-self-center">
                                Actions
                            </div>
                        </div>
                        
                        <hr>
                        {% for invitation in invitation_form %}
                        <div class="row">
                            <div class="col align-self-center">
                                {{ invitation }}
                            </div>
                            <div class="col align-self-center">
                                {{ invitation.get_invitation_status_display }}
                            </div>
                            <div class="col align-self-center">
                                {% if invitation.bid_price %}
                                    {{ invitation.bid_price }}
                                {% endif %}
                            </div>
                            <div class="col align-self-center">
                                {% if invitation.bid_price %}
                                    <a href="{% url 'client_invitation_details' invitation.uuid %}" class="btn-common-sm">View details</a>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}