{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block title %}Sustainability Needs Assessment{% endblock %}

{% block style %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
<!-- Sustainability Needs Assessment Form -->
<div class="ask-inputs">
    <div class="card-body mx-auto" style="max-width: 400px;">
      <h2>Sustainability Needs Assessment Form</h2>
      <p class="lead">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
      <form action="." method="post">
        <div class="row justify-content-center mb-3">
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
            {% else %}
                {{ wizard.form }}
            {% endif %}
        </div>
          {% csrf_token %}
          {{ p_form.media }}
        <div class="col text-center mb-3">
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" class="btn btn-secondary btn-sm justify-content-center" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" class="btn btn-secondary btn-sm justify-content-center" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            <br>
            <input type="submit" value="{% trans 'submit' %}"/>
        </div>
      </form>
      {{ form.media }}
    </div>
  </div>

{% endblock %}