{% extends "./layout.html" %}
{% load static %}

{% block content %}

  <main class="px-3">
    <h1>Sustainability consultancy</h1>
    <p class="lead">Text area to prompt the client consult sustainability...Text area to prompt the client consult sustainability...Text area to prompt the client consult sustainability...</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Find a Consultant</a>
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Rigister as consultant</a>
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Staff Entrance</a>
    </p>
  </main>

{% endblock %}