{% extends "layout.html" %}
{% load static %}

{% block title %}Change your password{% endblock %}

{% block style %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="ask-inputs">
    <div class="card-body mx-auto" style="max-width: 400px;">
      <form action="{% url 'password_change' %}" method="post">
        <h1 class="h3 mb-3 fw-normal">Change your password</h1>
        <div class="row justify-content-center mb-3">
          {{ form.as_p }}
        </div>
          {% csrf_token %}
        <div class="col text-center mb-3">
          <button class="btn btn-primary justify-content-center" type="submit">Change</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}