{% extends "layout.html" %}
{% load static %}

{% block title %}Create a staff account{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
  <!-- register form -->
  <div class="ask-inputs">
    <div class="card-body mx-auto" style="max-width: 600px;">
      <h2>Create a staff account</h2>
      <p class="lead">Please, sign up using the following form:</p>
      <form action="." method="post">
        <div class="row justify-content-center mb-3">
          {{ u_form.as_ul }}
          {{ p_form.as_ul }}
        </div>
          {% csrf_token %}
        <div class="col text-center mb-3">
          <button class="btn btn-primary justify-content-center" type="submit">Sign up</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}