{% extends "layout.html" %}
{% load static %}

{% block title %}Sustainability Assessment Done!{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="package-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head">
                    <h2>Thank you!!!</h2>
                    <hr>
                    <p>Thank you for completing the Sustainability Needs Assessment.</p>
                    <br>
                    <p>We will send you a report based on your answers. This will be specific to your company’s practices and potential needs for enhancing sustainability performance.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}